.menu-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.config-title{
    margin-left: 24px;
}
.sub-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e9e9e9;
}
.file-menu {
    margin-top: 10px;
    width: 100%;
    margin-left: -1px;
    position: relative;
    left: 1px;
    border: none !important;
}
.model-menu{
    font-size: 13px;
}
.pagination {
    margin: 20px auto auto auto;
}
.model-trained{
    color: black;
}
.model-not-trained{
    color: lightgrey;
}
.img-list-div{
    margin-left: 5%;
    width: 90%;
    margin-top: 20px;
}