.model-page{
    display: inherit;
    width: 100%;
}
.sub-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e9e9e9;
}
.menu-detail {
    width: 80%;
    display: flex;
}

.add-btn{
    align-items: flex-start;
    align-self: flex-start;
}